.text-input {
    width: 50%;
    height: 800px;
    overflow: scroll;
}

.header {
    background-color: #495f73;
    padding: 20px;
    margin-bottom: 50px;
    border-style: outset;
    border-width: 0px;
    border-bottom-width: 10px;
    border-color: khaki;
}

.input {
    margin: 40px;
}

.list-container {
    background-color: #d7dbde;
    border-radius: 20px;
    padding: 30px;
}

li {
    margin: 15px;
}

.header-link {
    color: antiquewhite;
    margin: 5px;
}